<a href="https://colab.research.google.com/github/HikaruEgashira/data_science_practice/blob/master/practice/signate_case3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [147]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [148]:
!ls 'drive/My Drive/Private/workspace/python/case3'

sample_submit.csv  submit.csv  test.tsv  train.tsv

In [0]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

%matplotlib inline

In [0]:
train = pd.read_csv('drive/My Drive/Private/workspace/python/case3/train.tsv', delimiter='\t')
test = pd.read_csv('drive/My Drive/Private/workspace/python/case3/test.tsv', delimiter='\t')
submit = pd.read_csv('drive/My Drive/Private/workspace/python/case3/sample_submit.csv', header = None)

In [151]:
train.head()

   id  click  I1  I2          C1  ...  I10  I11   I12      I13    I14
0   0      0   5  20   421256035  ...    0  NaN   NaN      NaN  780.0
1   1      0   5  20  2581703001  ...    0  NaN   NaN      NaN    0.0
2   2      0   5  20  2581703001  ...    0  NaN   NaN      NaN  117.0
3   3      0   5  20   421256035  ...    0  6.0   6.0  34501.0  390.0
4   4      1   5  20   421256035  ...    0  1.0  31.0  12557.0  390.0

[5 rows x 22 columns]

In [152]:
train.describe()

                 id         click  ...           I13           I14
count  1.169042e+06  1.169042e+06  ...  9.817540e+05  1.129422e+06
mean   5.845205e+05  7.505889e-02  ...  8.158472e+05  3.624405e+02
std    3.374735e+05  2.634865e-01  ...  1.385875e+06  6.203855e+02
min    0.000000e+00  0.000000e+00  ... -1.000000e+00  0.000000e+00
25%    2.922602e+05  0.000000e+00  ...  2.126325e+04  3.900000e+01
50%    5.845205e+05  0.000000e+00  ...  1.416105e+05  2.600000e+02
75%    8.767808e+05  0.000000e+00  ...  9.316495e+05  3.900000e+02
max    1.169041e+06  1.000000e+00  ...  1.809308e+07  1.300000e+04

[8 rows x 22 columns]

In [153]:
train.isnull().sum()

id            0
click         0
I1            0
I2            0
C1            0
C2            0
C3            0
C4            0
C5            0
C6            0
I3            0
I4            0
I5            0
I6            0
I7            0
I8            0
I9            0
I10           0
I11      187288
I12      187288
I13      187288
I14       39620
dtype: int64

In [0]:
from sklearn.linear_model import LinearRegression as LR

In [0]:
model = LR()

In [156]:
train[train['C1'] == 421256035]['click'].sum() / 1169005

0.06353351782071077

In [157]:
train['id'].count()

1169042

In [158]:
train[train['C1'] == 421256035 ]['id'].count()

766892

In [159]:
train[train['C1'] == 421256035 ]['click'].sum() / train[train['C1'] == 421256035 ]['id'].count()

0.0968467528674181

In [160]:
submit.head(20)

          0         1
0   1169042  0.335178
1   1169043  0.688459
2   1169044  0.768471
3   1169045  0.251175
4   1169046  0.464559
5   1169047  0.674710
6   1169048  0.147119
7   1169049  0.064898
8   1169050  0.949201
9   1169051  0.972706
10  1169052  0.626412
11  1169053  0.437827
12  1169054  0.381380
13  1169055  0.648895
14  1169056  0.920526
15  1169057  0.867465
16  1169058  0.781426
17  1169059  0.747450
18  1169060  0.042889
19  1169061  0.703516

In [0]:
submit[1] = 0

In [162]:
submit.head()

         0  1
0  1169042  0
1  1169043  0
2  1169044  0
3  1169045  0
4  1169046  0

In [0]:
submit.to_csv('submit.csv', index = None, header = None)

In [0]:
!mv submit.csv 'drive/My Drive/Private/workspace/python/case3'

In [165]:
train['C1'].value_counts()

421256035     766892
2581703001    227591
3651044092     53902
2686811630     33122
2387281372     30345
2541535031     21625
1111213504     15559
1045405899     14878
2068315619      5128
Name: C1, dtype: int64

In [166]:
train[train['click'] == 1]['C1'].value_counts()

421256035     74271
2581703001     7389
3651044092     1710
2541535031     1007
2387281372      995
2686811630      730
2068315619      612
1111213504      608
1045405899      425
Name: C1, dtype: int64

In [0]:
from sklearn.tree import DecisionTreeClassifier as DT
from sklearn.tree import export_graphviz
import pydotplus
from IPython.display import Image

In [0]:
train = train.fillna(0)
trainX = train.iloc[:, 2:22]
y = train['click']

In [169]:
trainX.head()

   I1  I2          C1          C2          C3  ...  I10  I11   I12      I13    I14
0   5  20   421256035  2377199148  2696211399  ...    0  0.0   0.0      0.0  780.0
1   5  20  2581703001  2589684548  1998340283  ...    0  0.0   0.0      0.0    0.0
2   5  20  2581703001  1862037199  2448089184  ...    0  0.0   0.0      0.0  117.0
3   5  20   421256035  3874378935  1658216424  ...    0  6.0   6.0  34501.0  390.0
4   5  20   421256035  3874378935  1892769125  ...    0  1.0  31.0  12557.0  390.0

[5 rows x 20 columns]

In [170]:
y.head()

0    0
1    0
2    0
3    0
4    1
Name: click, dtype: int64

In [171]:
test.head()

        id  I1  I2          C1          C2  ...  I10   I11   I12        I13     I14
0  1169042   5  20   421256035  3874378935  ...    0   1.0  35.0    76335.0   390.0
1  1169043   5  20   421256035  1537671376  ...    0  69.0   1.0  5634916.0    91.0
2  1169044   5  20   421256035  1392597759  ...    0   NaN   NaN        NaN  1300.0
3  1169045   5  20  2581703001  1862037199  ...    1   NaN   NaN        NaN    52.0
4  1169046   5  20   421256035  3874378935  ...    0   6.0   1.0     3921.0   390.0

[5 rows x 21 columns]

In [172]:
test = test.fillna(0)
testX = test.iloc[:, 1:22]
testX.isnull().sum()

I1     0
I2     0
C1     0
C2     0
C3     0
C4     0
C5     0
C6     0
I3     0
I4     0
I5     0
I6     0
I7     0
I8     0
I9     0
I10    0
I11    0
I12    0
I13    0
I14    0
dtype: int64

In [0]:
trainX = pd.get_dummies(trainX)
testX = pd.get_dummies(testX)

In [182]:
clf = DT(max_depth = 4, min_samples_leaf = 500)
clf.fit(trainX, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=500, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [0]:
pred = clf.predict_proba(testX)

In [0]:
pred = pred[:, 1]

In [185]:
submit[1].count()

1295086

In [186]:
pred.shape

(1295086,)

In [0]:
submit[1] = pred

In [0]:
submit.to_csv('submit3.csv', index = None, header = None)
!mv submit3.csv 'drive/My Drive/Private/workspace/python/case3'